{{define "title"}}创建新账号{{end}}
{{define "head"}}{{end}}
{{define "content"}}{{end}}
{{define "body"}}
<div class="login">
    <h3>服务监控系统</h3>
	<br>
    <form method="post" action="register">
		<input type="text" id="username" name="username" maxlength="48" placeholder="username" value="{{.username}}" />
		<input type="email" id="email" name="email" maxlength="48" placeholder="Email" value="{{.email}}" />
		<input type="password" id="password" name="password" maxlength="48" placeholder="Password" value="{{.password}}" />
		<input type="password" id="password_verify" name="password_verify" maxlength="48" placeholder="Verify Password" value="{{.password}}" />
        <button type="submit" class="btn btn-primary btn-block btn-large">注册</button>
    </form>
	<p style="margin-top: 15px;">
	{{LINK "login" "登录"}}
	</p>
</div>
{{end}}
{{define "foot"}}{{end}}
{{define "extraJS"}}{{end}}
