{{define "title"}}登录{{end}}
{{define "head"}}{{end}}
{{define "content"}}{{end}}
{{define "body"}}
<div class="login">
    <h3>服务监控系统</h3>
	<br>
    <form method="post" action="login">
    	<input type="text" name="email" placeholder="email" required="required" />
        <input type="password" name="password" placeholder="password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">登录</button>
    </form>
	<p style="margin-top: 15px;">
	{{LINK "register" "创建新账号"}}
	</p>
</div>
{{end}}
{{define "foot"}}{{end}}
{{define "extraJS"}}{{end}}
