{{define "title"}}{{end}}
{{define "head"}}{{end}}
{{define "body"}}{{end}}
{{define "content"}}
<input id="api-ID" type="hidden" value="{{.api.ID}}"/>
<h2 class="detail-title">
	<i class="fa fa-lock" aria-hidden="true"></i> {{.api.Alias}}
	{{if eq 1 .apiStatus.Status}}
		<i class="fa fa-check-circle-o detail-title-ok" aria-hidden="true"></i>
	{{end}}
	{{if eq 0 .apiStatus.Status}}
		<i class="fa fa-question-circle-o detail-title-unknown" aria-hidden="true"></i>
	{{end}}
	{{if eq -1 .apiStatus.Status}}
		<i class="fa fa-times-circle-o detail-title-wrong" aria-hidden="true"></i>
	{{end}}
</h2>

<div class="row">
	<div class="col-md-9">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<div class="col-md-3">
		<div class="chart-info">
			<p class="chart-info-header">DOWNTIME</p>
			<h2 class="chart-outages">{{MINUS (.apiStatus.Count) (.apiStatus.OKCount)}}</h2>
		</div>
		<div class="chart-info">
			<p class="chart-info-header">UPTIME</p>
			<h2 class="chart-downtime">{{TIMES (.apiStatus.UpPercentage) 100}}%</h2>
		</div>
	</div>
</div>
<h5>最近10次请求详情</h5>
<div class="table-responsive">
	<table class="table table-sm">
		<thead>
			<tr>
				<th>状态</th>
				<th>时间</th>
				<th>响应时间(毫秒)</th>
				<th>响应大小(Bytes)</th>
			</tr>
		</thead>
		<tbody>
			{{range $i, $e := .requests}}
			<tr>
				{{if eq 200 .Status}}
				<td><span class="badge badge-pill badge-success">online</span></td>
				{{else}}
				<td><span class="badge badge-pill badge-danger">offline</span></td>
				{{end}}
				<td>{{.RequestTime}}</td>
				<td>{{.Cost}}</td>
				<td>{{.ContentSize}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}
{{define "foot"}}{{end}}
{{define "extraJS"}}
	{{JS "static/js/highcharts.js"}}
	{{JS "static/js/detail.js"}}
{{end}}
