{{define "title"}}{{end}} {{define "head"}}{{end}} {{define "content"}}
<div class="container">
	<div class="panel-body">
		
	</div>
    {{template "footer" .}}
</div>
{{end}} {{define "foot"}}{{end}}
