/* Global Styles */

body {
    font-family: Pingvetica, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif, "微软雅黑";
}

h1, h2, h3, h4, h5, h6 {
    font-family: Pingvetica, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif, "微软雅黑";
}

.page-header {
    border-bottom: 0;
    margin-top: 0;
}


/* Notification Styles */

#flash-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 0;
}

.alert-box-fixed {
    margin: 0 15px 15px 0;
}

.table td.text {
    max-width: 177px;
}

.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

#custom-handle {
    width: 4em;
    height: 2.4em;
    top: 50%;
    margin-top: -1.2em;
    text-align: center;
    line-height: 2.5em;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
