{{define "title"}}{{end}} {{define "head"}}{{end}} {{define "content"}}
<div class="container">
    {{if .apis}}
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>接口地址</th>
                    <th>间隔时间(分钟)</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{range $i, $e := .apis}}
                <tr>
                    <td class="text"><span>{{.URL}}</span></td>
                    <td>{{.IntervalTime}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAPI">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 编辑
							</button>
                        <a title="Delete Note" class="btn btn-danger" role="button" href="{{$.BaseURI}}api/delete/{{.ID}}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
							</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{end}}


    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAPI">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加监控接口
		</button>
    </p>

    <div class="modal fade" id="createAPI" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">增加接口</h3>
                </div>
                <form method="post" action="/api/create">
                    <div class="modal-body">
                        {{template "api" .}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <input type="submit" value="创建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateAPI" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">更新接口</h3>
                </div>
                <form method="post" action="/api/update">
                    <div class="modal-body">
                        {{template "api" .}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <input type="submit" value="创建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>


    {{template "footer" .}}
</div>
{{end}} {{define "foot"}}{{end}}
