{{define "api"}}
<div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label">接口别名</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="接口别名" value="{{.name}}" required/>
	</div>
</div>
<div class="form-group row">
	<label for="interval_time" class="col-sm-2 col-form-label">间隔时长(分钟)</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="interval_time" name="interval_time" maxlength="2" placeholder="5" value="{{.interval_time}}" required/>
	</div>
</div>
<div class="form-group row">
	<label for="url" class="col-sm-2 col-form-label">接口地址</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="url" name="url" maxlength="512" placeholder="Url" value="{{.url}}" required/>
	</div>
</div>
<div class="form-group row">
	<label for="receivers" class="col-sm-2 col-form-label">警报发给</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="receivers" name="receivers" maxlength="512" placeholder="somebody@le.com;another@le.com" value="{{.receivers}}"/>
	</div>
</div>
<div class="form-group row">
	<label for="timeout" class="col-sm-2 col-form-label">接口超时阈值(秒)</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="timeout" name="timeout" maxlength="4" placeholder="2" value="{{.timeout}}" required/>
	</div>
</div>
<div class="form-group row">
	<label for="fail_threshold" class="col-sm-2 col-form-label">允许连续失败次数上限</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="fail_threshold" name="fail_threshold" maxlength="3" placeholder="1" value="{{.fail_threshold}}" required/>
	</div>
</div>
{{end}}
